@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background: radial-gradient(rgb(103, 184, 211), rgb(78, 160, 187), rgb(54, 129, 154), rgb(35, 100, 122), rgb(26, 84, 103), rgb(19, 71, 89), rgb(14, 63, 79), rgb(10, 52, 67), rgb(6, 40, 52));
  background-size: cover;
  background-repeat: no-repeat;
  color: darkgray;
  font-family: "PT Serif", serif;
}

h2 {
  text-decoration: underline;
}

section {
  margin: 2em 1em;
}

header {
  padding: 1em 1em 0 1em;
}
header a img {
  width: 50%;
}
header a img:hover {
  width: 55%;
}
header .navbar-toggler {
  background-color: rgb(95, 165, 189);
}
header .navbar-toggler span i {
  font-size: 1.5em;
  position: relative;
  top: 0.2vw;
}
header ul {
  display: flex;
  margin: auto;
}
header li {
  list-style: none;
  padding-left: 1em;
}
header li a {
  color: gray;
}
header li a:hover {
  font-size: 1.1em;
  opacity: 0.7;
}
header li a:hover {
  color: rgb(34, 34, 34);
}
header li a:active {
  color: black;
}
header .container-btn-mode {
  display: inline-block;
  margin: auto;
  justify-content: right;
  cursor: pointer;
  z-index: 2;
  font-size: 0;
}
header .btn-mode {
  display: inline-block;
  width: 4vw;
  height: 2.5vw;
  border: 2px solid black;
  transition: background-color 0.5s;
}
header .btn-mode i {
  display: block;
  font-size: 1.2vw;
  text-align: center;
  line-height: 2vw;
}
header .btn-mode.sun {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
}
header .btn-mode.moon {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
header .active {
  background-color: black;
  color: #ffcd5c !important;
}

.teclado-header {
  width: 100%;
  height: 18em;
  -o-object-fit: cover;
     object-fit: cover;
}

.btns-idioma {
  position: relative;
  display: inline-block;
  margin-left: 2em;
  border: none;
  border-radius: 0.2em;
  font-weight: bold;
  background-color: rgb(64, 155, 186);
}

.btns-idioma::before,
.btns-idioma::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(0, 0, 75);
  transform: scaleX(0);
  transition: transform 0.25s;
}

.btns-idioma::before {
  top: 0px;
  transform-origin: left;
}

.btns-idioma::after {
  bottom: -3px;
  transform-origin: right;
}

.btns-idioma:hover::before,
.btns-idioma:hover::after,
.active::before,
.active::after {
  transform: scaleX(1);
}

#español {
  display: none;
}

.autor {
  margin: 1em 0;
  width: 10em;
}

.container-educacion {
  background-color: rgb(41, 112, 136);
  border-radius: 2em;
  padding: 1em;
}
.container-educacion .artes-multimediales,
.container-educacion .oracle,
.container-educacion .colegio {
  display: flex;
}
.container-educacion .artes-multimediales .contenido-educacion,
.container-educacion .oracle .contenido-educacion,
.container-educacion .colegio .contenido-educacion {
  width: 70%;
}
.container-educacion img {
  width: 20%;
  margin: auto;
}

.container-paginas {
  background-color: rgb(41, 112, 136);
  border-radius: 2em;
  display: flex;
}
.container-paginas a {
  color: darkgray;
}
.container-paginas a:hover {
  color: rgb(0, 0, 26);
  font-size: 1.2em;
}
.container-paginas a:hover h3:hover {
  font-size: 1.6em;
}
.container-paginas a:hover img:hover {
  width: 31vw;
}
.container-paginas .pagina {
  margin: 0.8em auto;
  text-align: center;
}
.container-paginas .pagina img {
  margin: 1em;
  width: 30vw;
}

.btn-collapse {
  color: white;
  text-decoration: none;
}

#card {
  background-color: rgb(24, 92, 115);
  border-radius: 1em;
  color: rgb(200, 200, 200);
}

#card2 {
  background-color: rgb(24, 92, 115);
  border-radius: 1em;
  color: rgb(200, 200, 200);
}

#card3 {
  background-color: rgb(24, 92, 115);
  border-radius: 1em;
  color: rgb(200, 200, 200);
}

.btn-collapse:hover {
  color: rgb(0, 0, 26);
}

a:active {
  color: black;
}

.container-habilidades {
  background-color: rgb(41, 112, 136);
  border-radius: 2em;
  margin-bottom: 1em;
  padding: 1em;
}

.container-curriculum {
  background-color: rgb(41, 112, 136);
  border-radius: 2em;
  text-align: center;
  margin: auto;
}
.container-curriculum iframe {
  margin: 1em;
  border-radius: 1em;
  width: 20em;
  height: 20em;
}
.container-curriculum iframe:hover {
  font-size: 1.05em;
}

.container-lenguajes {
  width: 30%;
  margin: auto;
}
.container-lenguajes .carousel-item {
  background-color: transparent;
}

footer i {
  margin-left: 1em;
  color: black;
  font-size: 1.5em;
}
footer a:hover {
  font-size: 1.1em;
  opacity: 0.7;
}

.back-to-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  border-radius: 60%;
  background: #141c38;
  padding: 0.4rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.back-to-top:hover {
  opacity: 0.6;
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 1rem;
  height: 1rem;
  color: #7ac9f9;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(10, 1, 60);
  border-radius: 4em;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(61, 121, 141);
  border-radius: 4em;
}

@media screen and (max-width: 991px) {
  header a {
    width: 25%;
  }
  header a img {
    width: 80%;
  }
  header a img:hover {
    width: 85%;
  }
  header ul {
    flex-direction: column;
  }
  header li {
    margin: 0.5em auto;
  }
  .btn-mode {
    width: 5vw;
    height: 3.5vw;
  }
  .btn-mode i {
    font-size: 1.5vw;
    line-height: 3.2vw;
  }
  .container-educacion img {
    margin-left: 0.5em;
    width: 30%;
  }
  .container-paginas {
    flex-direction: column;
  }
  .container-paginas .pagina img {
    margin: 1em;
    width: 40vw;
  }
  .container-paginas .pagina a img:hover {
    width: 42vw;
  }
  .container-curriculum iframe {
    width: 15em;
    height: 15em;
  }
}
@media screen and (max-width: 600px) {
  header a {
    width: 30%;
  }
  header a img {
    width: 95%;
  }
  header a img:hover {
    width: 100%;
  }
  header .navbar-toggler {
    font-size: 0.9em;
  }
  header .navbar-toggler span i {
    font-size: 1.5em;
    position: relative;
    top: 0.2vw;
  }
  header .btn-mode {
    width: 8vw;
    height: 5vw;
  }
  header .btn-mode i {
    font-size: 2vw;
    line-height: 4.2vw;
  }
  .container-paginas .pagina img {
    margin: 1em;
    width: 50vw;
  }
  .container-paginas .pagina a img:hover {
    width: 52vw;
  }
  .container-curriculum iframe {
    width: 12em;
    height: 12em;
  }
}
@media screen and (max-width: 483px) {
  header .navbar-toggler {
    font-size: 0.8em;
  }
  header .navbar-toggler span i {
    font-size: 1.5em;
    position: relative;
    top: 0.2vw;
  }
  header .btn-mode {
    width: 9vw;
    height: 6vw;
  }
  header .btn-mode i {
    font-size: 3vw;
    line-height: 5vw;
  }
  .btns-idioma {
    margin: 0;
  }
  .container-educacion img {
    width: 35%;
  }
  .container-curriculum iframe {
    width: 9em;
    height: 9em;
  }
}/*# sourceMappingURL=styles.css.map */