.container-btn-mode {
  display: inline-block;
  margin: auto;
  justify-content: right;
  cursor: pointer;
  z-index: 2;
  font-size: 0;
}

.btn-mode {
  display: inline-block;
  width: 4vw;
  height: 2.5vw;
  border: 2px solid black;
  transition: background-color 0.5s;
}

.btn-mode i {
  display: block;
  font-size: 1.2vw;
  text-align: center;
  line-height: 2vw;
}

.btn-mode.sun {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
}

.btn-mode.moon {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.active {
  background-color: black;
  color: #ffcd5c !important;
}

body[data-theme="dark"] {
  background: radial-gradient(rgb(78, 78, 78), rgb(65, 64, 64), rgb(51, 51, 51), rgb(29, 29, 29), rgb(17, 17, 17), rgb(8, 8, 8), rgb(0, 0, 0));
  background-size: cover;
  background-repeat: no-repeat;
}

body[data-theme="dark"] #acercaDeMi,
body[data-theme="dark"] #educacionTitulo,
body[data-theme="dark"] #exp,
body[data-theme="dark"] #skill,
body[data-theme="dark"] #curriculumTitulo,
body[data-theme="dark"] #contacto {
  color: gray;
}

body[data-theme="dark"] #ingles,
body[data-theme="dark"] #español {
  background-color: rgb(65, 64, 64);
  color: rgb(185, 185, 185);
  border-color: rgb(120, 120, 120);
}


body[data-theme="dark"] #container-about-me,
body[data-theme="dark"] #container-educacion,
body[data-theme="dark"] #container-paginas,
body[data-theme="dark"] #container-habilidades,
body[data-theme="dark"] #container-curriculum,
body[data-theme="dark"] #container-formulario {
  background-color: rgb(65, 64, 64);
}

body[data-theme="dark"] #am,
body[data-theme="dark"] #cursoOracle,
body[data-theme="dark"] #encriptador,
body[data-theme="dark"] #rafaNadal,
body[data-theme="dark"] #habilidades-principales,
body[data-theme="dark"] #habilidades-principiante,
body[data-theme="dark"] #curriculumSpanish,
body[data-theme="dark"] #curriculumEnglish,
body[data-theme="dark"] #nameForm,
body[data-theme="dark"] #emailForm,
body[data-theme="dark"] #asuntoForm,
body[data-theme="dark"] #mensajeForm {
  background-color: rgb(41, 46, 48);
}

body[data-theme="dark"] #card,
body[data-theme="dark"] #card1,
body[data-theme="dark"] #card2,
body[data-theme="dark"] #card3,
body[data-theme="dark"] #card4 {
  background-color: rgb(51, 51, 51);
}

body[data-theme="dark"] #sendForm {
  background-color: rgb(51, 51, 51);
}

body[data-theme="dark"] #btn-back-to-top {
  background: rgb(65, 64, 64);
}

body[data-theme="dark"] #id-sun:not(.active) {
  background-color: rgb(30, 30, 30);
}
