//Main
:root {
    --background-color: rgb(41, 112, 136);
    --border-rad: 2em;
}

h3, h4, label{
    background-color: rgb(15, 79, 100);
    border-radius: 1em;
    padding: .4em;
    font-weight: bold;
}
.img-titulos-sec {
    width: 1em;
    margin-right: 0.2em;
}

.container-about-me {
    background-color: var(--background-color);
    border-radius: var(--border-rad);
    padding: 1em;
}

.container-educacion {
    background-color: var(--background-color);
    border-radius: var(--border-rad);
    padding: 1em;

    .artes-multimediales,
    .oracle,
    .openBootcamp,
    .colegio {
        display: flex;

        .contenido-educacion {
            width: 70%;
        }
    }

    h4 .img-sec-educacion {
        width: 1em;
        margin-right: 0.2em;
    }

    img {
        width: 20%;
        margin: auto;
    }
}

.container-paginas {
    background-color: var(--background-color);
    border-radius: var(--border-rad);
    display: flex;

    a {
        color: darkgray;
    }

    a:hover {
        color: rgb(0, 0, 26);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);

        h3:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1)
        }

        img:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1)
        }
    }

    .pagina {
        margin: .8em auto;
        text-align: center;

        img {
            margin: 1em;
            width: 30vw;
        }
    }

}

.btn-collapse {
    color: white;
    text-decoration: none;
}

#card,
#card1,
#card2,
#card3,
#card4 {
    background-color: rgb(24, 92, 115);
    border-radius: 1em;
    color: rgb(200, 200, 200);
}

.btn-collapse:hover {
    color: rgb(0, 0, 26);
}

a:active {
    color: black;
}

.container-habilidades {
    background-color: rgb(41, 112, 136);
    border-radius: 2em;
    margin-bottom: 1em;
    padding: 1em;
    h3{
        text-align: center;
        text-decoration: underline;
        margin-bottom: 1em;
    }

    .container-imagenes-habilidades {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        .imagen-habilidades:hover{
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            opacity: .7;
        }
        .img-habilidades {
            width: 6em;
            margin-bottom: 1em;
        }
    }

}

.container-curriculum {
    background-color: rgb(41, 112, 136);
    border-radius: 2em;
    text-align: center;
    text-decoration: underline;
    margin: auto;

    iframe {
        margin: 1em;
        border-radius: 1em;
        width: 20em;
        height: 20em;
    }

    iframe:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    .titulos-curriculum {
        display: flex;
        justify-content: space-around;
        padding-top: 1em;
    }

    .curriculum {
        display: flex;
        justify-content: space-around;
    }
}

.container-lenguajes {
    width: 30%;
    margin: auto;

    .carousel-item {
        background-color: transparent;
    }
}