* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: radial-gradient(rgb(103, 184, 211), rgb(78, 160, 187), rgb(54, 129, 154), rgb(35, 100, 122), rgb(26, 84, 103), rgb(19, 71, 89), rgb(14, 63, 79), rgb(10, 52, 67), rgb(6, 40, 52));
    background-size: cover;
    background-repeat: no-repeat;
    color: darkgray;
    font-family: 'PT Serif', serif;
}

h2 {
    text-decoration: underline;
}

section {
    margin: 2em 1em;
}

//Gif teclado
.teclado-header {
    width: 100%;
    height: 18em;
    object-fit: cover;
}

.autor {
    margin: 1em 0;
    width: 10em;
}

